* {
  position: relative;
  box-sizing: border-box; }
body {
  margin: 0;
  padding: 2.78vh;
  min-height: 100vh;
  background: #000;
  color: #fff; }
.wrapper {
  display: flex;
  align-items: center;
  min-height: 94.44vh;
  height: 100%;
  width: 100%;
  background: url('../images/background.jpg') center center / cover no-repeat; }
section {
  width: 100%; }
section:not(.active) {
  display: none; }
h1, h2, h3, h4, h5, h6 { font-family: 'Made Cannes'; }
p, a, input, div {
  font-family: 'Ndiscover';
  font-weight: 300; }

.spacer {
  display: block;
  width: 100%;
  height: 80px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.67em; }
h1 {
  font-size: 37vh;
  font-weight: 400; }
p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 12px; }
a {
  text-decoration: none;
  font-weight: 700; }

form {
  max-width: 350px;
  font-size: 0;
}
input {
  font-size: 14px;
  line-height: 3em;
  padding: 0px 26px;
  border: 1px solid #333;
  border-radius: 1.5em;
  background: transparent;
  display: block;
  outline: none;
  margin: 0 0 12px;
  width: 100%; }
input[type="submit"] {
  padding: 0 50px;
  cursor: pointer;
  background: linear-gradient(to right, #7d5fff, #7158e2);
  color: #FFF;
  border: 0px;
  letter-spacing: .1em;
  display: inline-block;
  width: 50%; }

#Team .tm-avatar img {
  width: 100%;
}
.tm-name {
  font-size: 40px;
  font-weight: 500;
  margin: 26px 0 44px;
}
.tm-desc {
  color: #929292;
  font-weight: 300;
}



.container {
  width: 90%;
  /* max-width: 1400px; */
  margin: auto; }
.row {
  display: block;
  overflow: auto; }
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  display: block;
  float: left;
  padding: 0 30px;
}
.col3 {
  width: 25%;
}
