@font-face {
  font-family: 'Made Cannes';
  font-weight: normal;
  src: url('Made Cannes.otf');
}
@font-face {
  font-family: 'Ndiscover';
  font-weight: 300;
  src: url('Ndiscover Light.otf');
}
@font-face {
  font-family: 'Ndiscover';
  font-weight: 500;
  src: url('Ndiscover Semi Bold.otf');
}
